<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdt.fsc.mapper.dm.DmUserMapper">
    <resultMap id="userInfoMap" type="com.sdt.fsc.entity.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryDmUser" resultMap="userInfoMap">
        SELECT ID, NAME, AGE
        FROM SYSDBA."user" where id = #{id};
    </select>

</mapper>